<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Leave Entitlement Form</title>
</head>
<body>
    <h1>Leave Entitlement Form</h1>
    <form th:action="@{/leave-entitlements/new}" th:object="${leaveEntitlement}" method="post">
        <div>
            <label for="leaveType">Leave Type:</label>
            <input type="text" id="leaveType" th:field="*{leaveType}" />
            <div th:if="${#fields.hasErrors('leaveType')}" th:errors="*{leaveType}"></div>
        </div>
        <div>
            <label for="numberOfDays">Number of Days:</label>
            <input type="number" id="numberOfDays" th:field="*{numberOfDays}" />
            <div th:if="${#fields.hasErrors('numberOfDays')}" th:errors="*{numberOfDays}"></div>
        </div>
        <div>
            <label for="broughtForward">Brought Forward:</label>
            <input type="number" id="broughtForward" th:field="*{broughtForward}" />
            <div th:if="${#fields.hasErrors('broughtForward')}" th:errors="*{broughtForward}"></div>
        </div>
        <div>
            <label for="totalDays">Total Days:</label>
            <input type="number" id="totalDays" th:field="*{totalDays}" />
            <div th:if="${#fields.hasErrors('totalDays')}" th:errors="*{totalDays}"></div>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" id="year" th:field="*{year}" />
            <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
        </div>
        <div>
            <label for="usedDays">Used Days:</label>
            <input type="number" id="usedDays" th:field="*{usedDays}" />
            <div th:if="${#fields.hasErrors('usedDays')}" th:errors="*{usedDays}"></div>
        </div>
        <div>
            <label for="balance">Balance:</label>
            <input type="number" id="balance" th:field="*{balance}" />
            <div th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}"></div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>
